{% extends 'base.html' %}
{% load sidebar %}
{% load news_rating %}

{% block title %}
  {{ title }}
{% endblock %}

{% block content %}
  {% load thumbnail %}
  <div class="col-md-12 jumbotron-post">
    <div class="text-white img-hover-zoom img-rounded">
      <img src="{% thumbnail last_new.poster 1250x450 crop quality=100 %}" class="card-img" alt="{{ last_new.title }}">
      <div class="card-img-overlay-2">
        <a href="{{ last_new.get_absolute_url }}">
          <h5 class="jumbotron-news-title font-weight-bold">{{ last_new.title }}</h5>
        </a>
        <p class="card-text">{{ last_new.created|date:"N j, Y • H:i" }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 row justify-content-center" style="padding: 0">
    <div class="col-md-9 row justify-content-center">
      <div id="news-list" class="row justify-content-center">
        {% include 'news/list_ajax.html' %}
      </div>
      <button class="load-button btn mb-4 btn-outline-primary">DISCOVER MORE</button>
    </div>
    <div class="col-md-3">
      {% show_categories %}
      <div class="sticky-top">
        {% news_rate %}
      </div>
    </div>
  </div>
{% endblock %}

{% block domready %}
  var page = 1;
  var empty_page = false;
  var block_request = false;
  $(".load-button").click(function() {
  if (empty_page == false && block_request == false) {
  block_request = true;
  page += 1;
  $.get('?page=' + page, function(data) {
  if (data == '') {
  empty_page = true;
  } else {
  block_request = false;
  $('#news-list').append(data);
  }
  });
  }
  });
{% endblock %}